<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs') %>
    <title>General</title>
</head>
<body>
    <%- include('partials/navlogOut.ejs') %>
<h1>General.</h1>

<main>

    <table class="covid">
      <% for (product of products) { %>
      <tr>
        
        <td class="covidTD"><a href="/print/<%=product._id%>"><img src="uploads/<%= product.productImageName %>" alt=""></a></td>
        <td class="covidTD"><%= product.productName%></td>
        <!--<td class="covidTD">product.productType</td>
            <td class="covidTD">product.countryOfOrigin</td> -->
        <td class="covidTD"><%= product.offerprice%></td>
        <td class="covidTD"><%= product.mRP%></td>
        
        
        <!--<td class="covidTD"><a href="print/product._id"> See</a></td>-->
        <td><a href="/successRegister"><button class="covidbtn">Add to Cart</button></a></td>
      </tr>
      <% } %>
    </table>
  </main>
    
    <%- include('partials/footer.ejs') %>
</body>
</html>